<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo list</title>
</head>
<body>
    <nav style="display: flex; justify-content: space-between">
        <div>
            <a href="{% url "todo_list" %}">Home</a>
        </div>
        <div style="text-align: right">
            {% if request.user.is_authenticated %}
                {{ request.user.username }}
                <form action="{% url 'logout' %}" method="POST" style="display: inline">
                    {% csrf_token %}
                    <button>로그아웃</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">로그인</a>
                <a href="{% url 'sign_up' %}">회원가입</a>
            {% endif %}
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>